<section id='inbox'>
<!-- 		<inboxthread></inboxthread> -->

<!-- <section> -->
	<ul id='inboxThread'> <!-- getThisEmailFromTheThread(thread._id) ng-controller='threadCtrl'-->
		<li
		ng-repeat="thread in threads | orderBy: 'latestMessage.date':true"
		ng-click="goToThread(thread._id)"
		class='thread'>
			<div>
				<p>From: {{thread.latestMessage.from}}</p>
				<p>Date: {{thread.latestMessage.date | date:'medium'}}</p>
				<p>Subject: {{thread.latestMessage.subject}}</p>
			</div>
		</li>
	</ul>
<!-- </section> -->


</section>
<ui-view></ui-view>