

<section id='inboxWithButtons'>
	<div class=" fetch">
		<button class='btn fetchButton' ng-click="syncInbox()">Fetch New Emails</button>
		<img src="/loader.gif" style="width:100px" ng-show="showLoader">
	</div>

	<div id="inbox">

	<!-- <ul id='inboxThread'>
		<li class='fetch'>
			<button class='btn' ng-click="syncInbox()">Fetch New Emails</button>
			<img src="/loader.gif" style="width:100px" ng-show="showLoader"> -->




<!--         <ul class="nav navbar-nav">
            <li class='assign fetch'>
                <button class='btn' ng-click="syncInbox()">Fetch New Emails</button>
                <button ng-click="refreshThreads()">Click Me</button>
            </li>
            <li class='assign'>
            </li>
        </ul> -->


        <ul id='inboxThread'>
<!-- 	 	<li class='fetch'>
			<button class='btn' ng-click="syncInbox()">Fetch New Emails</button>
			<button ng-click="refreshThreads()">Click Me</button>
		</li>  -->
		<li
		ng-repeat="thread in threads | orderBy: 'latestMessage.date':true"
		ng-click="goToTeamThread(thread._id)"
		class='thread'>
		<div>
			<p>{{cleanName(thread.latestMessage.from)}}     {{simplifyDate(thread.latestMessage.date)}}</p>

			<p><b>{{thread.latestMessage.subject}}</b></p>
			<p>{{thread.latestMessage.snippet}}</p>
		</div>
	</li>
</ul>
</div>
</section>
<ui-view></ui-view>
