<section id='inboxWithButtons'>
	<div class="fetch">
		<form class="search-form">
			<i class="fa fa-search pull-left search-icon"></i>
	    	<div class="form-group">
	        	<input type="text" class="form-control search-box" ng-model='search' placeholder="Search">
	    	</div>
	    </form>
		<img src="/loader.gif" style="width:28px" ng-show="showLoader">
		<button class='btn fetchButton' ng-click="syncInbox()">Fetch</button>
		
	</div>

	<div id="inbox">

    <ul id='inboxThread'>
			<li
			ng-repeat="thread in threads | filter: search | orderBy: 'latestMessage.date':true"
			ng-click="goToTeamThread(thread._id); setActive($index)"
			class='thread'
			ng-class="{active:active === $index}">
				<div class="hoverThread">
				<div>
					<p class="pull-left from">{{cleanName(thread.latestMessage.from)}}</p><p class='pull-right date'>{{simplifyDate(thread.latestMessage.date)}}</p>
				</div>
				<div>
					<p class="subject"><b>{{thread.latestMessage.subject}}</b></p>

					<p class="assignment" ng-class="{red: thread.color === 'red', blue: thread.color === 'blue', green: thread.color === 'green', purple: thread.color === 'purple', orange: thread.color === 'orange'}">{{ thread.assignedTo.firstName }}</p>
				</div>
			</div>
			</li>
	</ul>
	</div>
</section>
<!-- <div class="ghostNavbar" ng-class="{hidden: hideGhostNavbar}"></div> -->
<ui-view></ui-view>
