<section id='inboxWithButtons'>

<div class=" fetch">
    <!-- <button class='btn fetchButton' ng-click="syncInbox()">Fetch</button> -->
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">Search:</label>
            <input type="text" class="form-control" ng-model='search' placeholder="Hello">
        </div>
    </form>
</div>
        <div id="inbox">

            <ul id='inboxThread'>

                <li ng-repeat="thread in threads | filter: search | orderBy: 'latestMessage.date':true" ng-click="goToUserThread(thread._id)" class='thread'>
                    <div>
                        <p class="pull-left from">{{cleanName(thread.latestMessage.from)}}</p>
                        <p class='pull-right date'>{{simplifyDate(thread.latestMessage.date)}}</p>
                    </div>
                    <div>
                        <p class="subject"><b>{{thread.latestMessage.subject}}</b></p>
                        <p class="assignment">You</p>
                    </div>
                </li>
            </ul>
        </div>
</section>
<ui-view></ui-view>
