<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>

    <!-- VENDOR FILES (FOR TEMPLATE) -->
    <script src="/pace.js/pace.min.js"></script>


</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <sidebar></sidebar>
    <div id="main" class="content-wrap" ui-view></div>
</body>
</html>
