<nav id='navbar' class="navbar-default navbar navbar-static-top">
    <!-- page-controls -->
    <div class="container-fluid">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
<!--             <i class='glyphicon glyphicon-envelope'> -->
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <div class="pull-right">
            <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
            <div ng-show="user" class="welcome">
                <span>Welcome, {{ user.firstName }}</span>
                <a ng-click="logout()">Logout</a>
                <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-globe fa-lg"></i></span>
                <i class="fa fa-refresh fa-lg"></i>
            </div>
        </div>
    </div>
</nav>