<div id="sidebar" class="sidebar" role="navigation">
    <!-- need this .js class to initiate slimscroll -->
    <div class="js-sidebar-content" ng-controller="ModalCtrl">
       <!--  <header class="logo hidden-xs">
            <a class='sidebarBrand'>Posta</a>
        </header> -->
        <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
             looks good, so adding it and enhancing with notifications -->
        <!-- main notification links are placed inside of .sidebar-nav -->
        <!-- every .sidebar-nav may have a title -->


        <h5 class="sidebar-nav-title">Inboxes<a class="action-link" href="#" ng-click="open()"><i class="glyphicon glyphicon-plus"></i></a></h5>

        <ul class="sidebar-nav">
            <li ng-click="goToUser()">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a class="collapsed">
                    <span class="icon">
                        <i class="glyphicon glyphicon-align-right"></i>
                    </span>
                    <span>My Emails</span>
                    <i class="glyphicon glyphicon-plus" ng-click='' style="font-size: 10px; padding:0 0 1px 10px"></i>
                    <i class="toggle fa fa-angle-up"></i>
                </a>
                <ul id="sidebar-forms" class="collapse">
                    <li ng-repeat='email in team.emailAddresses'><a>{{email}}</a></li>
                </ul>
            </li>
            <li ng-repeat='team in teams' ng-click="goToTeam(team); getTeamMembers(team._id)">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a class="collapsed">
                    <span class="icon">
                        <i class="glyphicon glyphicon-align-right"></i>
                    </span>
                    <span>{{team.name}}</span>
                    <i class="glyphicon glyphicon-plus" ng-click='open(); setTeam(team)' style="font-size: 10px; padding:0 0 1px 10px"></i>
                    <i class="toggle fa fa-angle-up"></i>
                </a>
                <ul id="sidebar-forms" class="collapse">
                    <li ng-repeat='email in team.emailAddresses'><a>{{email}}</a></li>
                </ul>
            </li>
        </ul>
        <h5 class="sidebar-nav-title">Teammates<a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5> 

        <ul class="sidebar-nav">
            <li ng-repeat='teammate in teammates'>
                <a class="collapsed teammate">
                    <span>{{teammate.firstName}}
                    </span>
                    <i ng-class="{online: teammate.isOnline, offline: !teammate.isOnline}" class="fa fa-circle status pull-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>