#create-team {
	
	width: 30%;
 	margin: 0 auto;
 	margin-top: 1%;

 	.center {
 		text-align: center;
 		margin: 0;
 	}
 	.whiteIcon {
 		color: white;
 		font-size: 150px;
 		overflow-y: hidden;
 	}

 	.title {
 		text-align: center;
 		color: white;
 	}

	#background {
	    width: 100%; 
	    height: 100%; 
	    position: fixed; 
	    left: 0px; 
	    top: 0px; 
	    z-index: -1;
	}

	.stretch {
	    width:100%;
	    height:100%;
	}
}

