<br>
    <form id="email-reply" name="email-reply" ng-submit="">

<br>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="input-group">
            <span class="input-group-addon">
                <p for="emailTo">TO:</p>
            </span>
            <input type="text" ng-model="emailReply.to" class="form-control" id="emailTo">
            <span class="input-group-addon noBorderSides">
                <p for="emailFrom">FROM:</p>
            </span>
            <input type="text" ng-model="emailReply.from" class="form-control" id="emailFrom"\>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<br>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="input-group">
            <span class="input-group-addon">
                <p for="Subject">SUBJECT:</p>
            </span>
            <input type="text" ng-model="emailReply.subject" class="form-control" id="Subject">
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="input-group">
            <span class="input-group-addon">
                <p for="Body">BODY:</p>
            </span>
            <input type="text" ng-model="emailReply.body" class="form-control" id="Body" placeholder='...'>
        </div>
    </div>
</div>

<br>

</form>
<button type="button" class='btn btn-default posta-button' ng-click="sendReply()">Send</button>
<button type="button" class='btn btn-default posta-button' ng-click="cancel()">Save As Draft</button>


<!-- {{extractField(thread.messages[0], "Subject").value}} -->