<section id='modal'>    
    <div class="modal-header">
        <h3 class="modal-title">Team Manager
            <button type="button" style="float: right; background: transparent; border-color: transparent" ng-click="cancel()">x</button>
        </h3>
    </div>

    
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <!-- <div class="sidebar-nav"> -->
                    <div class="navbar navbar-default" style="margin-bottom: 0px">
                        <!-- <div class="nav navbar-nav"> --><!-- 
                            <h5 class="sidebar-nav-title modal-nav-title" ng-click="openMyProfile()" ng-class='{"modal-nav-selected": showMyProfile}'>My Profile</h5> -->
                            <h5 class="sidebar-nav-title modal-nav-title" ng-click="openTeamMembers()" ng-class='{"modal-nav-selected": showTeamMembers}'>Add Members</h5>
                            <h5 class="sidebar-nav-title modal-nav-title" ng-click="openTeamForm()" ng-class='{"modal-nav-selected": showTeamForm}'>Add Inbox</h5>
                        <!-- </div> -->
                    </div>
                <!-- </div> -->
            </div>
            <div class="col-sm-8">
                <div ng-show="showMyProfile">
                    <br>
                    <h4> Name: {{user.firstName}} {{user.lastName}}
                    </h4>
                    <h4> Email: {{user.email}}
                    </h4>
                    <h4 ng-repeat="team in teams" ng-click=""> Team {{$index+1}}: {{team.name}}
                    </h4>
                </div>
                <div ng-show="showTeamMembers">
                    <h4 class="modal-item">Choose A Team:</h4>
                    <ul style="padding-left: 0">
                        <li
                            ng-repeat="team in teams"
                            ng-click="chooseTeam(team)"
                            class="modal-team">
                            {{team.name}}
                            <!-- <span ng-show=" ! $last ">•</span> -->
                        </li>
                    <h4
                        class="modal-item"
                        ng-show="selectedTeam"
                        >Available Users:
                    </h4>
                        <form class="search-form" ng-show="selectedTeam">
                            <i class="fa fa-search pull-left search-icon"></i>
                            <div class="form-group">
                                <input type="text" class="form-control search-box" ng-model='search' placeholder="Search">
                            </div>
                        </form>
                        <li ng-repeat="user in availableUsers | filter: search">
                            <a ng-click="$event.preventDefault(); chooseUser(user)">
                                {{ user.firstName}} {{user.lastName}}: {{user.email}}
                            </a>
                        </li>
                        <br>
                        <button
                            class="btn btn-warning"
                            ng-show="selectedTeam && selectedUser"
                            ng-click="addUserToTeam()"
                            >Add {{selectedUser.firstName}} to {{selectedTeam.name}}
                        </button>
                    </ul>
                </div>
                <form
                    name="create-team"
                    ng-show="showTeamForm"
                    class="create-team"
                    >
                    <div class="form-group">
                        <!-- <label for="name">Team Name:</label> -->
                        <input type="text" ng-model="newTeam.name" class="form-control modal-input" id="name" placeholder="Team name" value="faux team">
                    </div>
                    <div class="form-group">
                        <!-- <label for="email">Team E-Mail:</label> -->
                        <input type="text" ng-model="newTeam.email" class="form-control modal-input" id="email" placeholder="Team email">
                    </div>
                    <button class="btn modal-button hb-facebook" ng-click="createTeam()">Add Team</button>
                    <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
                </form>
            </div>
        </div>
    </div>

</section>

<!--     <div class="modal-header">
        <h3 class="modal-title">Add Users to {{team.name}}</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="user in users">
                <a ng-click="$event.preventDefault(); chooseUser(user)">
                    {{ user.firstName}} {{user.lastName}}: {{user.email}}
                </a>
            </li>
        </ul>
        Selected: <b>{{ selectedUser.firstName}} {{ selectedUser.lastName}}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div> -->