<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Settings</h3>
    </div>

    
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <!-- <div class="sidebar-nav"> -->
                    <div class="navbar navbar-default">
                        <!-- <div class="nav navbar-nav"> -->
                            <h5 class="sidebar-nav-title" ng-click="openMyProfile()">My Profile</h5>
                            <h5 class="sidebar-nav-title" ng-click="openTeamMembers()">Edit Members</h5>
                            <h5 class="sidebar-nav-title" ng-click="openTeamForm()">Add Team</h5>
                        <!-- </div> -->
                    </div>
                <!-- </div> -->
            </div>
            <div class="col-sm-8">
                <div ng-show="showMyProfile">
                    <div ng-repeat="(key, value) in user">
                        <div> {{key}}: {{value}}
                        </div>
                    </div>
                </div>
                <div ng-show="showTeamMembers">
                    <ul>
                        <li ng-repeat="team in teams">
                            {{team.name}}
                        </li>
                        <li ng-repeat="user in users">
                            <a ng-click="$event.preventDefault(); chooseUser(user)">
                                {{ user.firstName}} {{user.lastName}}: {{user.email}}
                            </a>
                        </li>
                    </ul>
                    <b>{{ selectedUser.firstName}} {{ selectedUser.lastName}}</b>
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
                <form
                    name="create-team"
                    ng-show="showTeamForm"
                    ng-submit="createTeam()"
                    >
                    <div class="form-group">
                        <label for="name">Team Name:</label>
                        <input type="text" ng-model="name" class="form-control" id="name" placeholder="Enter team name" value="faux team">
                    </div>
                    <div class="form-group">
                        <label for="email">Team E-Mail:</label>
                        <input type="text" ng-model="email" class="form-control" id="email" placeholder="Enter an email">
                    </div>
                    <button type="submit" class="btn btn-success">Add Team</button>
                    <button class="btn btn-warning">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!--     <div class="modal-header">
        <h3 class="modal-title">Add Users to {{team.name}}</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="user in users">
                <a ng-click="$event.preventDefault(); chooseUser(user)">
                    {{ user.firstName}} {{user.lastName}}: {{user.email}}
                </a>
            </li>
        </ul>
        Selected: <b>{{ selectedUser.firstName}} {{ selectedUser.lastName}}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div> -->