#fullemail {
  width: calc(100% - 504px);
  height: calc(100vh - 50px);
  display: inline-block;
  float: left;

  ul {
  	padding: 0px;
  }

  .assign {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $darkBlue;
    border-bottom: 1px solid $lightGrey;
    a {
      color: $darkBlue;
    }
    button {
      background: none;
      border: 1px solid $darkGrey;
    }
  }

}

.singleMessage {
	padding: 10px;
	margin: 10px;
  border-bottom: 1px solid $lightGrey;
}