.posta-button{
  background-color: white;
  border: 1px solid #222730;
  border-radius: 0px;
}
.posta-button:hover{
  background-color: #F95554;
  color:white;
  border: 1px solid #F95554;
  border-radius: 0px;
}

#fullEmailPosition {
  position: fixed;
  left:504px;
  width: calc(100% - 524px);
  height: calc(100vh - 1px);
  background-color: white;
  color: #323232;

  #listFix {
    overflow: visible;
    z-index: 9999;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline;
  }
  p {
    display:inline;
  }
  .emailTopButtons {
    background-color: white;
    height:55px;
    // text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:10px;
    color: $darkBlue;
    border-bottom: 1px solid $lightGrey;
    overflow:visible;
    // padding-left: 68%;
  }
  .one {
    display: inline;
    label {
      margin-bottom: -5px;
    }
  }

  .emailButtons {
    display: inline;
    overflow:visible;
    position:relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:80%;
    color: $darkBlue;
  }

  .fetchButton {
    background: white;
      // color: #F65758;
      color: #4c586c;
      border: 1px solid #DDDDDD;
      border-radius: 0px;
      transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        &:hover {
          background-color: lighten(#F65758, 10%);
          color: white;
          border-color: lighten(#F65758, 10%);
        }
    }
  }
  .raleway {
    font-family: 'Raleway', sans-serif;
    display: inline;
  }

  .messages-header {
    height: 50px;
    width:100%;
    margin: 15px 25px 15px 30px;
    padding: 10px 10px 0 10px;
    font-weight: bold;
    font-size: 1.4em;
    .wrapper {
      height:100%;
      display: inline-block;
      padding: 0 50px 10px 2px;
      overflow:visible;
      // border-bottom: 2px solid #D5DAE2;
    }
    #subject-text{
      display:inline;
      font-size:1em;
      font-weight: normal;
    }
  }

  #fullemail {
    // box-shadow: 0 0 8px 8px #F0F5F7 inset;
    // border: 1px solid black;
    z-index: 2;
    /*margin-top: 5px;*/
    padding: 0 25px 50px 20px;
    position: fixed;
    left:504px;
    width: calc(100% - 524px);
    height: calc(100vh - 60px);
    display: inline-block;
    float: left;

    .panel {
      margin-top: 0px;
      border-radius: 0px;
      // padding-bottom: 15px;

    }

    .input-group-addon{
      font-family: 'Raleway', sans-serif;
      color: #323232;
      background-color: white;
      border-radius: 0px;
      border: none;
      font-weight: bold;
    }
    .form-control{
      color: #323232;
      background-color: white;
      border-radius: 0px;
      border: none;
      box-shadow:none;
      margin: 0px;
      padding: 0px;
    }
    .message-subject {
      padding-top: 5px;
      border-bottom: 1px solid lighten($lightGrey, 50%);
      padding-bottom: 5px;
    }
    .message-body{
       padding-top: 10px;
    }
    .panel-group .panel {
      border-radius: 0px;
      border: none;
    }

    .panel-heading {
      -webkit-transition: 120ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -moz-transition: 120ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -ms-transition: 120ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -o-transition: 120ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      transition: 120ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      border: none;
      padding-bottom:8px;
      padding-top: 8px;
      border-left: 3px solid #D5DAE2;
      border-radius: 0px;
      /*background-color: transparent;*/
      background-color: lighten($lightGrey, 50%);
      border-bottom: 1px solid lighten($lightGrey, 80%);
      // color: $lightBlue;
      a {
        text-decoration: none;
      }
      &:hover {
        padding-left: 20px;
      }
    }
    .panel-body{
      padding: 20px;
      padding-top: 5px;
      border-left: 3px solid #84888A;
      border-top: none;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
    } 
    .panel .panel-default {
      border-radius: 0px;
    }
    .conversation {
      font-weight: 700;
      padding-bottom: 10px;
      border-bottom: 1px solid lighten($lightGrey, 40%);
    }
    .pull-left{
      text-decoration: none;
    }
    .pull-right{
      text-decoration: none;
    }
    .from {
      // font-size: .85em;
      display:inline;
    }
    .snippet{
      padding-left: 25px;
      font-size:.75em;
      color: #A8B0A9;
      display: inline;
      // font-family: 'Libre Baskerville', serif;
      font-style: italic;
    }
    .emailDate {
      font-size: .85em;
      display:inline;
      padding-right:5px;
    }
    .commentsDiv {
      max-height: 100px;
    }
    .commentsHeading {
      background-color: lighten($darkGrey, 70%);
      /*background-color: lighten(#F65758, 25%);*/
      // lighten(#F65758, 10%)
      color: $lightGrey;
    }
    .commentsPanel {
      width: 100%;
    }

    .chatInput {
      border-radius: 0px;
      border: 1px solid lighten($lightGrey, 50%);
    }

    .chatIcon {
      text-align: center;
    }

    // .chatButtonBorderRadius {
    //   border-radius: 0px;
    //   padding: none;
    //   background-color: white;
    //   &:hover {
    //       background-color: lighten(#F65758, 10%);
    //       color: white;
    //       border-color: lighten(#F65758, 10%);
    //     }
    // }

    // .fetchButton {
    //   background: white;
    //   // color: #F65758;
    //   color: #4c586c;
    //   border: 1px solid #4c586c;
    //   border-radius: 0px;
    //   transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    //     &:hover {
    //       background-color: lighten(#F65758, 10%);
    //       color: white;
    //       border-color: lighten(#F65758, 10%);
    //     }
    // }

    .chatButton {
        border: none;
        background-color: white;
        white-space: nowrap;
        margin-top: -5px;
        border-radius: 0px;
        &:hover {
          background-color: lighten(#F65758, 10%);
          color: white;
          border-color: lighten(#F65758, 10%);
        }
      }

    .replyButton {
      background-color:white;
      border: 1px solid #DDDDDD;
    }

    .chatBar {
      width: 100%;
      height: 20px;
      background-color: $darkBlue;
      border: 1px solid $lightGrey;
    }

    #bottom {
      display: block;
      margin-top: 5px;
      text-align: center;
    }
    #end{
      display: block;
      margin-top: 5px;
      text-align: center;
    }
    .comment-box{
      position:
    }
    replydir {
      width: 100%;
      p {
        margin: 0px;
      }
      
      .noBorderSides{
        border-right: none;
        border-left: none;
      }
      /*.input-group-addon {
        width: 80px;
        }*/
      }

    }
#email-reply{
      color:white;
    }

// #fullemail:after{
//   content: "";
//   position: absolute; top: 0; bottom: 0; left: -15px; right: -15px;
//   box-shadow: 0 30px 10px 0px #F0F5F7 inset;
// }
