#fullEmailPosition {
  position: fixed;
  left:504px;
  width: calc(99% - 504px);
  height: calc(99vh - 50px);

  #listFix {
    // position:relative;
    // z-index: 9999;
    overflow: visible;
    padding: 0px;
    margin: 0px;
  }

  .assign {
    overflow:visible;
    position:relative;
    z-index: 9999;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $darkBlue;
    border-bottom: 1px solid $lightGrey;
    a {
      color: $darkBlue;
    }
    button {
      background: none;
      border: 1px solid $darkGrey;
    }
  }
}

#fullemail {
  position: fixed;
  left:504px;
  width: calc(100% - 504px);
  height: calc(100vh - 50px);
  
  // display: inline-block;
  float: left;
  // background-color: #F2F6F7;

  ul {
  	padding: 0px;
  }

  

}

.singleMessage {
	padding: 10px;
	margin: 10px;
  border: 1px solid $lightGrey;
  border-bottom: 1px solid $lightGrey;
  box-shadow: 1px 1px 3px 1px solid $darkGrey;
  background-color: white;
}