fullstack-logo {

	font-size: 30px;
	font-color: $darkGrey;
	position: relative;
	top: 18px;
	left: 25px;

  /*display: block;
  img {
    display: block;
    width: 100%;
  }*/
}

.blackIcon {
	overflow-y: hidden;
}