

#inboxWithButtons{
	position:fixed;
}
.fetch {
	background-color: #F8F9FB;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: $darkBlue;
	border-bottom: 1px solid $lightGrey;
	overflow:visible;

}

.fetchButton {
	background-color: #FF5467;
	color: white;
	border-radius: 0px;
}



#inbox {

	width: 300px;
	height: calc(100vh - 100px);
	overflow: scroll;
	// float: left;
	
	background-color: #F9F9F9;

	.thread {
		overflow:hidden;
		padding-left:10px;
		width: 100%;
		height: 80px;
		text-align: left;
		list-style: none;
		background-color: white;
		border-bottom: 1px solid #EFEFEF;
		background-color: #F9F9F9;
		border-bottom: 1px solid #DDDDDD;
		border-right: 1px solid #DDDDDD;
		padding: 10px 20px 10px 20px;
		p{
			padding: 0px;
			margin: 0px;
			// float:left;
		}
		.subject{
			font-size: 1.1em;
			padding: 2px 0 2px 0;
		}
		.from {

		}
		.date {
			padding:0 5px 0 0;
			font-size:.8em;
		}
		&:hover {
			background-color: lighten($lightGrey, 2%);
			border-right: 1px solid white;
		};
		&:active {
      		background-color: $lightBlue;
    	}
	}

	ul {
		padding: 0px;
	}

}

#inboxNav {
    z-index: 100;
    position: fixed;
    width: 100%;
    /*width: 300px;*/
    background-color: white;
    border: none;
    border-bottom: 1px solid $lightGrey;
    /*margin-bottom: 100px;*/
    height: 50px;
    box-shadow: 0px 2px 2px 0px $darkGrey;
    .assign {
        display: inline;
        padding-top: 10px;
        color: $darkBlue;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right:10px;
        /*width: 100%;*/
        /*text-align: center;*/
        /*border-bottom: 1px solid $lightGrey;*/
        a {
            color: $darkBlue;
        }
        button {
            background-color: white;
            border: 1px solid $darkGrey;
        }
    }
    .btn {
        border-right: 1px solid red;
    }
}