
#inboxWithButtons{
	position:fixed;
	form {
		display: inline;
	}
	label {
		display: inline;
	}
	input {
		width: 60%;
	}
	.fetch {
		background-color: #F8F9FB;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		color: $darkBlue;
		border-bottom: 1px solid $lightGrey;
		overflow:visible;
		clear:both;
	}
	.fetchButton {
		background: none;
		color: $darkBlue;
		border: 1px solid $darkGrey;
		border-radius: 5px;
	}
}

.ghostNavbar {
		background-color: #F8F9FB;
		text-align: center;
		height: 55px;
		color: $darkBlue;
		border-bottom: 1px solid $lightGrey;
		overflow:hidden;
		margin-left:100px;
	}

.hidden {
	display: none;
}


#inbox {
	.hoverThread {
		-webkit-transition: 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		-moz-transition: 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		-ms-transition: 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		-o-transition: 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		transition: 150ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		&:hover {	
			padding-left: 20px;
		}
	}

	.delete {
		color: red;
	}

	width: 300px;
	height: calc(100vh - 100px);
	overflow: scroll;
	// float: left;
	
	background-color: #F9F9F9;

	.thread {
		overflow:hidden;
		padding-left:10px;
		width: 100%;
		height: 80px;
		text-align: left;
		list-style: none;
		background-color: white;
		border-bottom: 1px solid #EFEFEF;
		background-color: #F9F9F9;
		border-bottom: 1px solid #DDDDDD;
		border-right: 1px solid #DDDDDD;
		padding: 10px 20px 10px 20px;

		p{
			padding: 0px;
			margin: 0px;
			// float:left;
		}
		.subject{
			font-size: 1.1em;
			padding: 2px 0 2px 0;
		}
		.assignment {
			font-size:.8em;
			color: red;
		}
		.from {

		}
		.date {
			padding:0 5px 0 0;
			font-size:.8em;
		}
		&:hover {
			background-color: lighten($lightGrey, 35%);
			// padding-left: 10px;
		};
		&:active {
      		background-color: lighten($lightGrey, 30%);
    	}
	}

	ul {
		padding: 0px;
	}


	.animate-enter, .animate-leave {
		    -webkit-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		    -moz-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		    -ms-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		    -o-transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		    transition: 700ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		    position: relative;
		    display: block;
		    overflow: hidden;
		    text-overflow: clip;
		    white-space: nowrap;
		}

		.animate-leave.animate-leave-active,
		.animate-enter {
		    opacity: 0;
		    width: 0px;
		    height: 0px;
		}

		.animate-enter.animate-enter-active,
		.animate-leave {
		    opacity: 1;
		    width: 150px;
		    height: 30px;
		}


}

#inboxNav {
    z-index: 100;
    position: fixed;
    width: 100%;
    /*width: 300px;*/
    background-color: white;
    border: none;
    border-bottom: 1px solid $lightGrey;
    /*margin-bottom: 100px;*/
    height: 50px;
    box-shadow: 0px 2px 2px 0px $darkGrey;
    .assign {
        display: inline;
        padding-top: 10px;
        color: $darkBlue;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right:10px;
        /*width: 100%;*/
        /*text-align: center;*/
        /*border-bottom: 1px solid $lightGrey;*/
        a {
            color: $darkBlue;
        }
        button {
            background-color: white;
            border: 1px solid $darkGrey;
        }
    }
    .btn {
        border-right: 1px solid red;
    }
}