<section id="fullEmailPosition">

	<div class="emailTopButtons">
	    <ul id="listFix">
	        <li class='emailButtons'>
	            <span class="dropdown" dropdown>
					<a href="" class="dropdown-toggle btn-group" dropdown-toggle>
						<button class="btn fetchButton">{{ assignedTo }}</button>
						<button class="btn fetchButton"><span class="caret"></span></button>
	            </a>
	            <ul class="dropdown-menu" dropdown-menu>
	                <li ng-repeat='userChoice in teammates'>
	                    <a ng-click="assign(userChoice, thread, user)">{{userChoice.firstName}}</a>
	                </li>
	            </ul>
	            </span>
	        </li>
	        <li class='emailButtons'>
	            <span>
					<button class="btn fetchButton">Delete</button>
				</span>
				<span>
					<button class="btn fetchButton"><i class='glyphicon glyphicon-pencil'></i></button>
				</span>
	        </li>
	    </ul>
	</div>
	
	<div id='fullemail'>
	    <div>
	        <accordion close-others="oneAtATime">
	            <accordion-group ng-repeat="message in thread.messages" is-open='$last'>
	            	<accordion-heading>
	            		<div>{{extractField(message, 'Subject').value}}</div>
	            	</accordion-heading>
	                <!-- <p class="conversation">{{extractField(message, "From").value}}  <i class='glyphicon glyphicon-arrow-right'></i>  {{extractField(message, "To").value}}</p> -->
	                <p class="conversation">
	                	<a class='pull-left'>From: {{extractField(message, "From").value}}</a>
	                	<a class='pull-right'>To: {{extractField(message, "To").value}}</a>
	                </p>
	                <p class='emailDate'>{{extractDate(message)}}</p>
	                <div>
	                    {{parseBody(message.googleObj.payload.parts[0].body.data || message.googleObj.payload.body.data)}}
	                </div>
	                <br>
	                <button ng-click="showReply($index)" class="btn btn-default"><i class="fa fa-reply"></i> {{ replyOrCancel }}</button>
	                <replydir ng-show="message.showReply"></replydir>
	            </accordion-group>
	        </accordion>
	    </div>
	    <div class="panel panel-default">
	        <div class="panel-heading commentsPanel">
	            <h3 class="panel-title">Thread Comments</h3>
	        </div>
	        <div class="panel-body">
	            <ul class='commentsDiv' scroll-glue>
	                <li ng-repeat='chatMessage in chatMessages'>{{chatMessage.name}}: {{chatMessage.text}}</li>
	                <li id='bottomChat'></li>
	            </ul>
	            <form ng-submit='sendMessage(chatMessage)'>
	                <!-- <div id='messagesDiv'></div> -->
	                <div class="input-group">
            			<input type='text' class="form-control" placeholder='Your Message' ng-model='chatMessage.text'>
            			<span class="input-group-addon">
                			<button class='chatButton' type='submit' ng-click='sendMessage(chatMessge)'>Send</button>
            			</span>
            		</div>

	                <!-- <input type='text' class="form-control" placeholder='Your Message' ng-model='chatMessage.text'>
	                <button class='btn btn-sm btn-default' type='submit'>Send</button> -->
	            </form>
	        </div>
	    </div>
	    <p id='bottom'></p>
	</div>

</section>
<!-- <div class="rightSideBar"></div> -->