<section id='fullemail' ng-show="thread">
<ul ng-controller="fullemailCtrl">
	<li ng-repeat="message in thread.messages | orderBy: 'googleObj.internalDate':true" class="singleMessage">
		<p>Subject: {{extractField(message, "Subject").value}}</p>
		<p>From: {{extractField(message, "From").value}}</p>
		<p>To: {{extractField(message, "To").value}}</p>
		<p>Date: {{extractField(message, "Date").value}}</p>
		
		<!-- Subject: {{message.payload.parts[0].body.data}} -->
		<div>
		Body: {{parseBody(message.googleObj.payload.parts[0].body.data)}}
		</div>
		<!-- myHTML: {{myHTML}} -->
		<!-- <div ng-bind-html="myHTML"></div>
		<p ng-bind-html="myHTML"></p> -->
	</li>
	<div ng-show="thread">
		<div ng-controller="replyModalCtrl">
			<button ng-click="openReply()">reply</button>
		</div>
	</div>
</ul>


 <span class="dropdown" dropdown>
   	<a href="" class="dropdown-toggle btn-group" dropdown-toggle>

   	<button class="btn">{{ assignedUser }}</button>
    <button class="btn"><span class="caret"></span></button>
	
	</a>
    <ul class="dropdown-menu" dropdown-menu>
      <li ng-repeat='userChoice in users'> 
        <a ng-click="assign(userChoice, thread, user)">{{userChoice.firstName}} {{userChoice.lastName}}</a>
      </li>
      
    </ul>
</span>
</div>
</section>