<div id='loginPath'>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class='moveRightABit'>
                    <!-- <i class="glyphicon glyphicon-envelope whiteIcon"></i> -->
                    <a class="navbar-brand">Feedback</a>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class='moveLeftABit'>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

    <form id="create-team" name="create-team">

        <h2 class='title'>Start Collaborating Now</h2>
        <h4 class='title'>Add A Team Inbox</h4>

        <div id="background">
            <!-- <img src="keyboard.jpg" class="stretch" alt="" /> -->
        </div>

        <alert type="danger" ng-show="error">
            {{ error }}
        </alert>

        <div class="form-group">
            <!-- <label for="name">Team Name</label> -->
            <input type="text" ng-model="name" class="form-control" id="name" placeholder="Enter a team name" value="faux team">
        </div>
        <div class="form-group">
            <!-- <label for="email">Team E-Mail</label> -->
            <input type="text" ng-model="email" class="form-control" id="email" placeholder="Enter an email address">
        </div>
        <a ng-click='createTeam()' class="btn btn-block btn-social btn-lg btn-google">
            <i class="fa fa-google"></i> <div id="google-btn-text">Add Team Inbox</div>
        </a>


    </form>
