<section id='fullemail'>
<ul>
	<!-- {{email.messages}} -->
	<li ng-repeat="message in email.messages">
		<!-- {{message}} -->
		<p>Subject: {{extractField(message, "Subject").value}}</p>
		<p>From: {{extractField(message, "From").value}}</p>
		<p>To: {{extractField(message, "To").value}}</p>
		<p>Date: {{extractField(message, "Date").value}}</p>
		
		<!-- Subject: {{message.payload.parts[0].body.data}} -->
		Body: {{message.googleObj.payload.parts[0].body.data}}

	</li>
</ul>


 <span class="dropdown" dropdown>
   	<a href="" class="dropdown-toggle btn-group" dropdown-toggle>

   	<button class="btn">{{ assignedUser }}</button>
    <button class="btn"><span class="caret"></span></button>
	
	</a>
    <ul class="dropdown-menu" dropdown-menu>
      <li ng-repeat='user in users'> 
        <a ng-click="assign(user, email)">{{user.firstName}} {{user.lastName}}</a>
      </li>
      
    </ul>

</section>