#splashPage{

/* this page will never actually be visitied */
	
}

#loginPath {


	font-family: Raleway;

	.whiteIcon {
 		color: white;
 		font-size: 40px;
 		padding-top: 5px;
 		overflow-y: hidden;
 	}
 	.moveRightABit{
 		padding-left: 25px;
 	}
 	.moveLeftABit{
 		padding-right: 25px;
 	}
 	.navbar-header a {
 		font-color: red;
 	}

	.navbar-custom {
	    margin-bottom: 0;
	    border-bottom: 1px solid rgba(255, 255, 255, .3);
	    background-color: #000;
	}
	.navbar-custom .navbar-brand {
	}
	
	.navbar-custom .navbar-brand:focus {
	    outline: 0;
	}
	
	.navbar-custom .navbar-brand .navbar-toggle {
	    padding: 4px 6px;
	    font-size: 16px;
	    color: #fff;
	}
	
	.navbar-custom .navbar-brand .navbar-toggle:focus,
	.navbar-custom .navbar-brand .navbar-toggle:active {
	    outline: 0;
	}
	
	.navbar-custom a {
	    color: #fff;
	}
	
	.navbar-custom .nav li a {
	    -webkit-transition: background .3s ease-in-out;
	    -moz-transition: background .3s ease-in-out;
	    transition: background .3s ease-in-out;
	}
	
	.navbar-custom .nav li a:hover {
	    outline: 0;
	    color: rgba(255, 255, 255, .8);
	    background-color: transparent;
	}
	
	.navbar-custom .nav li a:focus,
	.navbar-custom .nav li a:active {
	    outline: 0;
	    background-color: transparent;
	}
	
	.navbar-custom .nav li.active {
	    outline: 0;
	}
	
	.navbar-custom .nav li.active a {
	    background-color: rgba(255, 255, 255, .3);
	}
	
	.navbar-custom .nav li.active a:hover {
	    color: #fff;
	}
	
	@media(min-width:768px) {
	    .navbar-custom {
	        padding: 20px 0;
	        border-bottom: 0;
	        letter-spacing: 1px;
	        background: 0 0;
	        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	        transition: background .5s ease-in-out, padding .5s ease-in-out;
	    }
	    .navbar-custom.top-nav-collapse {
	        padding: 0;
	        border-bottom: 1px solid rgba(255, 255, 255, .3);
	        background: #000;
	    }
	}

}