<section id="home">
	<div>
		Team name:<input ng-model='team.name'>
		Team googleId:<input ng-model='team.googleId'>
    	<a href="/auth/google/user" ng-click='addTeam(team)'>Add This Team</a>
	</div>
    <!-- <button ng-click='getUsersGmailThreads()'>Get Currently Logged In User's Emails</button> -->
</section>

The Teams:
	<div ng-click='getThisTeamsGmailThreads(team)' ng-repeat='team in teams'>{{team}}
</div>

<br>
<br>
<br>
The threads for this team:
<div ng-click='getThisEmailFromTheTread(thread.id)' ng-repeat='thread in threads'>{{thread}}</div>
<br>
<br>
<br>
The email:
<div>{{email}}</div>